* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: serif;
  color: black;
  background: white;
}

header {
  padding: 1rem;

  h1 {
    font-weight: normal;
  }
}

main {
  max-width: 75ch;
  padding-inline: 1rem;
}

.posts {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  li {
    h2 {
      font-weight: normal;
      font-size: 1.25rem;
    }

    .date {
      font-size: 0.875rem;
      color: #555;
    }
  }
}
